* {
    box-sizing: border-box;
    text-align: left;
    font-size: 24px;
    color: #777777;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;

  }
  a{
      text-decoration: none;
  }

  .name{
      background: #4aaaa5;
      float: left;
      height: 75px;
      margin-left: 10%;
      color: white;
      font-family: "Georgia", "Times", "Times New Roman", serif;
      padding: 20px;
  }

  .bio{
      padding: 20px;
  }
  h1{
      color:#4aaaa5;
      text-align: left;
      padding: 20px;
  }

  .tabs{
      background: white;
      float: right;
      margin-left: 2px;
      margin-right: 15px;
      margin-top: 30px;
  }

  body{
    background-image: url("../images/full-bloom.png");
  }

  .bioimage{
      float: left;
      margin: 20px;
      width: 5px;
      height: 5px;

  }
  

.nav-bar{
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background: #ffffff;
    border-bottom: #cccccc;
    clear: both;
}

.main-content{
    background: #ffffff;
    border-color: #dddddd;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 60px;
}



footer{
    background: #666666;
    width: 100%;
    height: 40px;
    margin-bottom: 0%;
    border-top: 10px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
}
